$메인칼라: #2a4cb2;

$기본사이즈: 16px;

.background {
  background-color: $메인칼라;
  font-size: 2 * ($기본사이즈 + 2);
}

.box {
  color: $메인칼라;
  font-size: $기본사이즈 - 2px;
}
//사칙연산은 같은 단위끼리 하셈

// 덧셈뺄셈은 px 단위는 px 단위끼리, % 단위는 % 단위끼리 이렇게 단위 맞춰주셔야하고

// 곱셈 나눗셈은 보통 뒤에 단위를 쓰지 않습니다. 쓰면 이상한 자료형이 됩니다.

// 곱셈 나눗셈은 괄호 안에 작성해야 잘 먹습니다.

// Nesting문법
// 중첩하면 복잡함
// &기호를 붙여주시면 셀렉터를 스페이스바 없이 붙이실 수 있습니다.
.main-bg {
  width: 100px;
  h4 {
    font-size: $기본사이즈;
  }
  button {
    color: red;
  }
}
// extend문법
.btn-green {
  width: 100px;
  height: 100px;
  padding: 20px;
  color: green;
}

.btn-blue {
  @extend %btn;
  color: blue;
}

%btn {
  width: 100px;
  height: 100px;
  padding: 20px;
}
// %임시클래스는 단독으로 컴파일되지않음
// % 기호는 .대신 쓸 수 있는 임시클래스인데

// CSS파일에서 클래스로 컴파일하지 않고싶을 때 쓰는 기호입니다.

// 컴파일하고나면 %기호 안에 있는 것들은 흔적도 없이 사라집니다.
