@use '_reset.scss';
// 다른파일에 있는 내용 가져오고 싶을 떈
// 파일이 다른 폴더 안에 있다면 '폴더명/reset.scss' 이런 식으로 경로를 잘 써주시면 됩니다
// scss 파일명을 작명할 때 언더바를 파일명 맨 앞에 붙이는 경우가 있습니다.

// 언더바 _기호를 파일명 맨앞에 사용하시면 "이 파일은 CSS파일로 따로 컴파일하지 말아주세요" 라는 의미입니다.

// 그냥 첨부용 파일이라는 것이지요.

.box1 {
  @extend %box;
  background-color: green;
  color: reset.$메인칼라;
  // 다른 파일에 있던 변수 갖다쓰고싶을때
}
.box2 {
  @extend %box;
  background-color: red;
}

.box3 {
  @extend %box;
  background-color: blue;
}

%box {
  width: 200px;
  height: 200px;
  padding: 200px;
}

.box1 {
  @include reset.호버();
}
// mixin문법. 변수랑 용도가 비슷. 긴 코드를 짧은 단어를 축약
// mixin의 장점이라고 보시면 됩니다.
// 1. 긴 코드를 한 단어로 축약할 수도 있고
// 2. 코드내부에 구멍을 뚫어 사용할 때마다 각각 다른 내용을 집어넣을 수 있습니다.
@mixin 버튼기본디자인($구멍, $구멍2) {
  font-size: $구멍;
  #{$구멍2}: 50px;
}

.btn-green {
  @include 버튼기본디자인(30px, width);
  background-color: green;
}
