/* vw,vh:뷰포트폭,높이에비례 */
/* rem:기본 폰트사이즈에 비례 (html태그) */
/* em:내 폰트사이즈에 비례 */

/* 권장 Breakpoint 

media query 문법 max-width 안에 넣는 브라우저 폭을 breakpoint라고 합니다. 

breakpoint는 원하는 만큼 저렇게 여러개 넣을 수 있는데 

필요할 때 마다 사이즈를 임의로 넣고 작성하는 것 보다는

많은 사람들이 사용하는 breakpoint를 쓰는게 좋습니다. 

1200px / 992px / 768px / 576px

이런 사이즈를 권장드립니다.

Bootstrap 라이브러리가 기본으로 권장하는 breakpoint 이며 그대로 따라하도록 합시다. 

1200px부터를 태블릿사이즈로 볼지, 992px 부터를 태블릿 사이즈로 볼지는 여러분 마음이고 

768px 부터를 모바일로 볼지, 576px 부터를 모바일로 볼지도 여러분 마음입니다.  */

/* flexbox이용

.component {
  display: flex;
  text-align: center;
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
  .component div {
    width: 50%;
  }
  .component {
    flex-wrap: wrap;
    max-width: 500px;
  }

}

@media screen and (max-width: 768px) {
  .component div {
    width: 100%;
  }
} */

.component {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.component div {
  float: left;
  width: 25%;
}

@media screen and (max-width: 1200px) {
  .component div {
    width: 50%;
  }
  .component {
    max-width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .component div {
    width: 100%;
    float: none;
  }
  .component {
    width: 100%;
  }
}
