body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
html {
  line-height: 1.5;
}
.cl-white {
  color: white;
}
.bg-navy {
  background-color: navy;
}
.cl-gray {
  color: gray;
}
.wrap {
  padding-left: 50px;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* //////////////////사이드 바//////////////////// */
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 200px;
  min-height: 100vh;
  font-size: 20px;
  margin-left: -150px;
  cursor: pointer;
}
.side-bar:hover {
  margin-left: 0;
  transition: all 0.5s;
}
.side-bar:hover .side-menu > li:hover {
  background-color: pink;
}
.side-menu {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style: none;
}
.side-menu > li {
  padding: 10px 0 10px 30px;
  cursor: pointer;
}
.side-menu > li > i {
  padding-right: 10px;
  transform: translateX(133px);
}
.side-bar:hover .side-menu > li i {
  transform: translateX(0);
  transition: all 0.5s;
}
/* //////////////////네비게이션 바//////////////////// */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
.nav-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.nav-right {
  font-size: 20px;
}
.nav-right > i {
  display: inline-block;
  margin-left: 20px;
}
.nav-right > h4 {
  font-weight: 500;
  display: inline-block;
  margin: 0 20px;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left > i {
  padding: 7px;
  margin-left: -6px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-left > i:hover {
  background-color: orange;
}
.nav-left > input {
  font-size: 1rem;
  width: 150px;
  padding: 5px;
  border: 1px solid gray;

  border-radius: 5px;
}
.nav-left > input:focus {
  width: 200px;
  outline: none;
  transition: all 1s;
}
.main {
  padding: 15px 30px;
}
.main-title {
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-card {
  display: flex;
  gap: 30px;
}
.main-card > div {
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.card-left {
  width: 70%;
  order: 1;
}
.card-right {
  order: 2;
  flex-grow: 1;
}

.main-card i {
  font-size: 50px;
}
.bd-blue {
  border-left: 5px solid lightblue;
}
.bd-green {
  border-left: 5px solid green;
}
.bd-navy {
  border-left: 5px solid navy;
}
.bd-orange {
  border-left: 5px solid orange;
}

.clear-box {
  display: flex;

  gap: 30px;
  margin-top: 30px;
}
.chart {
  width: 70%;
  border-radius: 10px;
}
.chart > canvas {
  width: 100% !important;
  height: auto !important;
  padding: 20px;
}
.chart > h2 {
  background-color: #ccc;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  border-bottom: 1px solid gray;
}
.task {
  flex-grow: 1;
  border-radius: 10px;
  align-self: flex-start;
  border-radius: 10px;
}
.task > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.task li {
  padding: 20px;
}
.task-title {
  border-bottom: 1px solid gray;
  background-color: #ccc;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.task-title > h2 {
  margin: 0;
}
.task-list {
  border-top: 1px solid #eee;
  border-collapse: collapse;
  position: relative;
}
.task-list::after {
  display: inline-block;
  background-color: blue;
  width: 20px;
  content: '10';
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
  position: absolute;
  right: 20px;
}

@media screen and (max-width: 1200px) {
  .main-card {
    flex-wrap: wrap;
  }
  .main-card > div {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    text-align: center;
  }
  .main-card {
    display: block;
  }
  .main-card > div {
    width: 100%;
    margin: 20px 0;
  }
  .clear-box {
    display: block;
  }
  .chart {
    width: 100%;
    margin-bottom: 20px;
  }
  .card-left {
    width: 90%;
    order: 1;
  }
  .card-right {
    order: 2;
  }
}
