input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.container {
  background-color: black;
  padding: 30px;
}
.white {
  width: 60%;
  max-width: 600px;
  padding: 30px;
  background-color: white;
  margin: 0 auto;
}

.email-area {
  padding: 10px;
}

.first,
.second {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
}

input[type='checkbox'] {
  width: auto;
}

.check-button-area {
  position: relative;
  margin-bottom: 30px;
}
.check-button-area .check {
  position: absolute;
  top: 0;
  left: 0;
}
.check-button-area button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 15px;
}
