nav li {
  display: inline-block;
}
/* >:~안에있는 직계자식만 공백:~안에있는모든자손 */
nav a {
  font-size: 16px;
  text-decoration: none;
}
nav a:visited {
  color: red;
}

/* a:link 
아직 방문하지 않은 링크의 글자색을 정의합니다.
a:visited 
사용자가 방문한 적이 있는 링크의 글자색을 정의합니다. */
/* a:active 
마우스로 링크를 클릭하고 뗄 때까지의 글자색을 정의합니다.
a:hover 
마우스를 링크에 올려두었을 때, 글자색을 정의합니다. */
/* 이렇게 링크의 스타일을 정의하는 link, visited, hover, active 클래스를 사용할 때는 
작성 순서에 주의해야 합니다.
a:hover는 a:link, a:visited 뒤에 와야 합니다.
a:active는 a:hover 뒤에 와야 합니다.
정리하면
a:link, a:visited, a:hover, a:active  순서로 배치해야 합니다. */
