body {
  display: contents;
  font-family: arial, sans-serif;
}

.top {
  float: right;
  margin: 20px;
}

.top-item {
  margin-right: 15px;
  color: black;
  text-decoration: none;
}

.top-item:hover {
  text-decoration: underline;
}

.main {
  margin-top: 220px;
  text-align: center;
}

.input-area {
  margin-top: 30px;
}
.search-bar {
  width: 580px;
  height: 45px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 25px;
  padding-left: 45px;
  padding-right: 45px;
}

.search-icon {
  position: relative;
  left: 40px;
  color: #9aa0a6;
}
.mic-icon {
  position: relative;
  right: 40px;
  color: rgb(25, 125, 219);
}
.butten-area {
  padding-top: 18px;
}
.button-style {
  height: 34.667px;
  border: 1px solid #f8f9fa;
  padding: 10px 10px;
  margin: 10px 5px;
  border-radius: 10px;
}
.button-style:hover {
  border: 1px solid rgba(55, 53, 53, 0.199);
  box-shadow: 0 1px 1px rgb(0, 0, 10);
  border: 1px solid orange;
}
.gogle-offered-in {
  margin-top: 20px;
}

.bottom {
  position: absolute;
  bottom: 0px;
  background-color: #f2f2f2;
  width: 100%;
}
.first-line {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(6, 0, 0, 0.388);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.second-line {
  padding: 15px 30px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.right {
  float: right;
}
.left {
  float: left;
}
.second-line a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  padding-right: 10px;
}

.bottom a:hover {
  color: red;
}
