/* Object Oriented CSS
버튼의 뼈대와 살을 분리하는 겁니다.

1. 버튼의 기본 스타일인 padding, font-size 이런걸 정의하는 class를 하나 만들고 

2. 버튼에 스킨 색깔놀이 하는 용도의 class를 여러개 만들어두는 겁니다. */

/* 이렇게 뼈와 살을 각각의 class로 분리하는 방법의 장점은 

1. 중복된 스타일을 재사용가능합니다.

덕분에 CSS 파일용량도 줄어들고 코딩 시간도 절약됩니다.

2. 유지보수가 편리해집니다.

사이트의 모든 버튼의 font-size를 약간 줄여야한다면 이 경우엔 한 곳만 건드리면 모든 버튼이 다 수정되겠죠? 편리합니다.

3. 코드 개빨리 짤 수 있습니다.

.bg-red 이렇게 색깔놀이용 class들을 전문용어로 utility class라고 부릅니다. 

이걸 미리 많이 만들어두면 앞으로 버튼만들 때 class명을 두세개 고르기만 하면 되니까

css 파일 열지않고도 다양한 스타일을 빠르게 만들 수 있습니다.

(class명을 미리 외워두면요)

심지어 버튼말고도 다른 UI에 색상 줄 때도 적용가능할듯 */

/* .font-small {
  font-size : 12px;
}
.font-medium {
  font-size : 16px;
}
.font-lg {
  font-size : 20px;
}
▲ 글씨 font-size 변경이 잦다면 이런 식으로 utility class 들을 많이 만들어두고

글자 스타일링할 때 가져다 쓰면 코드짜는게 매우 빨라질 수 있습니다.

(외워두면요)

특히 width, margin, padding, text-align 이런 것들 조정하는 utility class 많이 만들어두면 편리합니다.  */

/* BEM룰 
1. class를 작명할 땐 우선 덩어리이름으로 시작하는게 좋습니다.

2. 태그마다 다른 class명을 부여하려면 __태그명을 뒤에 붙입니다.

그니까 profile 안에 있는 img 태그는 profile__img

그니까 profile 안에 있는 button 태그는 profile__button

이렇게 __태그이름 으로 작명하라는 것입니다.

BEM 룰을 쉽게 외우려면

Block__Element--Modifer 이런 식으로 기억해주시면 됩니다.

HTML 요소를 영어로 Element라고 하며 Modifier는 수식어라는 뜻입니다.  근데 Modifer은 비추 */
