/* 제일 큰 박스 */

/* container 박스엔 항상 width를 지정해놓는게 좋습니다.
그래야 나중에 브라우저화면이 축소되어도 내부 div 박스들이 찌그러지지 않음.  */

/* 셀렉터가 긴 것보다 한눈에 이해가 되어야함 길면 좋지않음 부모나 근처에 class하나 마련하는게 더 나음*/

.container {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 10px;
  /* overflow: hidden; */

  /* float부모 요소 높이 찾아주기 */

  /* 1.overflow:hidden;
  2. after 가상 클래스로 높이 값 찾아주기 */

  border-bottom: 1px solid lightgrey;
}

.container:after {
  display: block;
  clear: both;
  content: '';
}

/* 제일 큰 박스 안 첫번쨰 박스 */

.first {
  width: 80%;

  float: left;
  box-sizing: border-box;
  padding: 5px 10px;
}
.profile-img {
  float: left;
}
.profile-img + div {
  float: left;
}

.profile-name div {
  margin-left: 20px;
  text-align: justify;
}
.profile-name div:last-child {
  color: gray;
  font-size: 0.8em;
  padding-top: 3px;
}
.content-area {
  clear: left;
  color: gray;
}
.content-area h3 {
  margin: 0;
  padding-top: 20px;
  color: black;
}
.content-area div {
  text-align: end;
}

/* 제일 큰 박스 안 두번쨰 박스 */

.img-area {
  width: 20%;
  margin: 23px 0;
  float: left;
  box-sizing: border-box;
}
.img-area img {
  width: 100%;
}
