h1,
p,
body {
  margin: 0;
}
div {
  box-sizing: border-box;
}

.background-white {
  background-color: white;
}

.color-blue {
  color: #6fbaf8;
}
.color-gray {
  color: gray;
}

.btn-blue {
  border: none;
  background-color: #6fbaf8;
  color: white;
  border-radius: 5px;
}
.btn-white {
  border: 2px solid grey;
  border-radius: 15px;
  background-color: white;
}

.gray-area {
  background-color: #f7f9fc;
}

.profile-img,
.profile-text {
  float: left;
}

.blue-line {
  width: 100px;
  height: 3px;
  background-color: #6fbaf8;
  position: absolute;
  left: 0;
  bottom: 0;
}

.reverse-icon {
  font-size: 5rem;
  transform: rotate(180deg);
}

@media screen and (max-width: 992px) {
  .profile-box {
    padding: 0 !important;
    font-size: 1rem;
  }
  .profile-box > div:first-child {
    border: none !important;
    display: flex;
    margin-bottom: 50px;
  }
  .profile-img {
    max-width: 50%;
  }
}
