button {
  background-color: aquamarine;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
button:hover {
  animation-name: 흔들버튼;
  animation-duration: 0.7s;
}
@keyframes 흔들버튼 {
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  margin: 0;
}
.menu {
  background-color: black;
  color: white;
  width: 300px;
  height: 100vh;
  padding: 25px;
  text-align: end;
  transform: translate(-150px, 0);
}
.menu:hover {
  transform: translate(0, 0);
  text-align: center;
  transition: all 1s;
}
.menu p {
  text-align: center;
}
.menu:hover p {
  animation-name: slide;
  animation-duration: 1s;
}
@keyframes slide {
  0% {
    transform: translate(-200px);
  }
  50% {
    transform: translateX(50px) skewX(-30deg);
  }
  100% {
    transform: translate(0px);
  }
}
