nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
body {
  margin: 0;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
.nav-item {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}
main {
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  height: 968px;
  background-color: rgb(41, 65, 171);
  background-position: 46% 4%;
  background-size: 175%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-item {
  font-size: 146px;
  color: #1ed760;
  font-weight: 900;
  line-height: 180px;
}
.main-item-2 {
  color: #1ed760;
  margin-top: 20px;
}
.button-style {
  background-color: #1ed760;
  color: rgb(41, 65, 171);
  border-radius: 20px;
  padding: 15px 30px;
  font-weight: bold;
  margin-top: 30px;
  font-size: 1.1rem;
}
.button-style:hover {
  transform: scale(1.1);
}
.rel {
  position: relative;
  left: 1em;
}

.pos {
  position: relative;
  left: -1.5em;
}
.first-box {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.first-box-item {
  display: flex;
  flex-direction: column;

  padding-right: 40px;
}

.container1 {
  display: flex;
}
.container2 {
  text-align: end;
  color: gray;
  margin-top: 100px;
  padding-bottom: 10px;
}
.container3 {
  display: flex;
  justify-content: space-between;
  color: gray;
}
.container3 a {
  color: gray;
}
footer a {
  color: white;
  text-decoration: none;
}
footer {
  height: 500px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer > div {
  max-width: 1170px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}
.second-box {
  width: 40%;
  text-align: end;
}
.title {
  color: grey;
  font-weight: bold;
  margin-top: 10px;
}
.first-box-item a {
  padding-top: 20px;
}
